<div id="boxy" width="100%" height="100%"></div>

<div id="helpme">
  ?
</div>

<div id="wtf">
  <h1>How?</h1>
  <h2>Keyboard</h2>
  <ul>
    <li><b>r:</b> toggle random order</li>
    <li><b>r:</b> swap instrument</li>
    <li><b>-:</b> slower</li>
    <li><b>+:</b> faster</li>
    <li><b>esc:</b> drop highlights</li>
  </ul>
  <h2>Mouse</h2>
  <ul>
    <li><b>dbl-click in space:</b> new unit <i class="yolo">&lt;- try this</i></li>
    <li><b>dbl-click on unit:</b> alter unit</li>
    <li><b>ctrl+dbl-click:</b> remove unit</li>
    <li><b>shift+dbl-click:</b> group units</li>
    <li><b>drag on unit edges:</b> alter unit volume</li>
  </ul>
</div>